@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --theme-color: #00bfff;
    --my-font: "Roboto", serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.container nav{
    width: 20%;
    height: 100vh;
    background-color: var(--theme-color);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 2px;
}
.nav-heading, .nav-option{
    display: flex;
    align-items: center;
    font-family: var(--my-font);
    transition: 0.3s;
}
.nav-icon, .nav-heading-icon{
    padding: 10px;
}
.nav-heading-icon{
    width: 45px;
    height: 45px;
}
.nav-icon{
    width: 25px;
    height: 25px;   
}
nav a{
    text-decoration: none;
    color: white;
}
.nav-text{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}
.nav-option:hover{
    background-color: #038cb9;
    border-radius: 5px;
}
.content-container{
    width: 80%;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
}
.content-container header{
    padding: 5px 30px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.content-container main{
    background-color: gray;
}

.upper{
    /* some gray  */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    width: 65%;
}
#search-button, #notification-button{
    width: 30px;
    transition: 0.4s;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
}
#notification-button{
    width: 25px;
}
#search-button:hover, #notification-button:hover{
    cursor: pointer;
    background-color: #b9cbd1;
}
.search-bar{
    padding: 10px 0px;
    background-color: #b9cbd1;
    border-radius: 15px;
    width: 90%;
    height: 15px;
    padding: 5px;
    margin: 0px;
    border: none;
    transition: 0.4s;
}
.upper .small-prof{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.small-prof img{
    width : 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lower .name{
    display: flex;
    align-items: center;
}
.lower .name .name-name{
    font-family: var(--my-font);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
}
.lower>.name>img{
    width: 80px;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.lower>.buttons{
    display: flex;
    align-items: center;
}
.buttons>button{
    background-color:var(--theme-color);
    padding: 10px 30px;
    margin: 0px 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: var(--my-font);
    font-weight: 500;
    transition: 0.4s;
}
.buttons>button:hover{
    background-color: #038cb9;
    cursor: pointer;
}

main{
    padding: 20px;
    display: flex;
    justify-content: space-between;   
    height: 100vh ;
    overflow: scroll;
}
.Projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 70%;
}
.Projects .project{
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid var(--theme-color);
}
.Projects .project .project-heading{
    font-family: var(--my-font);
    font-size: 25px;
}

main aside{
    width: 30%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    padding: 0px 10px;
    overflow: scroll;
}
.Announcements, .Trendings{
    margin: 0px 0px 10px 0px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid var(--theme-color);
    box-sizing: border-box;
}
.Announcements .announce{
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.Announcements .announce .announce-head{
    font-family: "Roboto" , serif;
    font-size: 20px;
}
.Trendings .trending img{
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}
.Trendings .trending {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.Trendings .trending p{
    
}